1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

  Ans:- values = 'hello', -87.8, 6
      
      expressions = *,-,/,+

2. What is the difference between string and variable?
      
    Ans:- string = string is combination of alpha-numeric character.
          Variable = used to store data or values(can be numeric and integer)

3. Describe three different data types.

  Ans:- The three types of data types are:- 
        1. string eg. "a", 'rohit', '_alpha','1234'
        2. float eg. 22.7, 45765.765
        3. int eg. 4,8,12,3444
        4. boolean eg. True , false

4. What is an expression made up of? What do all expressions do?
  
  Ans:- Expressions is a combination of variables and mathematical operators. Expression evaluate the given condition and perform output according to it.

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?


1.   Expression : combination of multiple variables and operators. eg: a+5*6+b 
2.   Statement : It is like assigning some value to variable. eg: a = 5

6. After running the following code, what does the variable bacon contain?
bacon = 22 ,
bacon + 1

In [1]:
bacon = 22
bacon + 1

23

7. What should the values of the following two terms be?
&#39;spam&#39; + &#39;spamspam&#39;
, &#39;spam&#39; * 3

In [4]:
'spam' + 'spamspam'

'spamspamspam'

In [5]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

*   eggs variable can take any value
*   100 is not acceptable as variable name in python it shows error while assigning any value

In [13]:
eggs = 5
eggs

5

In [14]:
100 = 5
100

SyntaxError: ignored

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

Ans:- 
*   integer - int()
*   floating point number - float()
*   string - str()

10. Why does this expression cause an error? How can you fix it?
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

*   It will show an error can't concatenate string and integer.
*   Error can be fixed by changing integer (99) value into string('99').

In [19]:
'I have eaten ' + 99 + ' burritos.'

TypeError: ignored

In [18]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'